<p style="color: green"><%= notice %></p>

<% content_for :title, "Posts" %>

<h1 class="is-size-4">Posts</h1>

<%= link_to "New post", new_post_path %>

<div id="posts">
  <% @posts.each do |post| %>
    <p>
      <span class="is-size-5"><%= link_to post.title, post %></span>
      <span> - <%= link_to post.author.username, post.author %></span>
    </p>
  <% end %>
</div>

